.footer {
  @include flexbox;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;

  &:is(.clear, :cloudy) {
    background-color: $clear-01;
  }

  &.clear-night {
    background-color: $clear-night;
  }

  &.blur {
    background-color: $blur-01;
  }

  &.rainy {
    background-color: $rainy-01;
  }

  &.snowy {
    background-color: $snowy-01;
  }

  .tab {
    &-list {
      @include flexbox(between);
      gap: 70px;
    }

    &-button {
      @include flexbox;
      width: 40px;
      height: 40px;

      i {
        font-size: 28px;
      }

      &:is(:hover, :active, .isActive) {
        i:is(.clear, .cloudy, .clear-night):before {
          color: $clear-02;
        }

        i.rainy:before {
          color: $rainy-02;
        }

        i.blur:before {
          color: $blur-02;
        }

        i.snowy:before {
          color: $snowy-02;
        }
      }
    }
  }
}
