.header {
  position: fixed;
  top: 0;
  left: 0;
  @include column-flexbox;
  width: 100%;
  height: 60px;
  color: #fff;
  background: $clear-01;
  z-index: $global-header;

  &.clear-night {
    background: $clear-night;
  }

  &.blur {
    color: $blur-02;
    background: $blur-01;
  }

  &.rainy {
    background: $rainy-01;
  }

  &.snowy {
    color: $snowy-02;
    background: $snowy-01;
  }

  .header-message {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.75;
  }

  .current-condition {
    margin: 0;
    font-size: 18px;
  }

  .headerIcon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .phoneBookButton {
    left: 16px;

    i {
      font-size: 32px;
    }
  }

  .hs-button {
    right: 16px;
    width: 48px;
    height: 48px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include responsive(D) {
    position: relative;
    @include column-flexbox(center, start);
    margin-top: 48px;

    .header-message {
      font-size: 16px;
    }

    .current-condition {
      font-size: 24px;
    }

    .hs-button {
      right: 0;
    }
  }
}
