.codi {
  &-women {
    margin-bottom: 24px;
  }

  &-men {
    margin-bottom: calc(50px + 8px);
  }

  &-header {
    @include flexbox(between, end);
    padding: 0 8px;
    margin-bottom: 16px;
    width: 100%;
  }

  &-title {
    font-size: 16px;
    font-weight: 700;
  }

  &-site-button {
    font-size: 14px;

    &:is(:hover, :active) {
      opacity: 0.75;
    }
  }

  &-list {
    @include flexbox;
    gap: 16px;
    flex-wrap: wrap;
  }

  &-item {
    width: calc((100% - 16px) / 2);
    aspect-ratio: 1/1;
  }

  &-button {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:is(:hover, :active) {
      img {
        filter: brightness(0.9);
      }
    }
  }

  @include responsive(D) {
    &-women {
      margin-bottom: 48px;
    }

    &-title {
      font-size: 18px;
    }

    &-site-button {
      font-size: 16px;
    }

    &-item {
      width: calc((100% - 32px) / 3);
    }
  }
}
