.daily {
  padding: 8px 0;
  margin-bottom: 16px;
  background: rgba(#fff, 0.25);
  border-radius: 8px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include flexbox(start);
  }

  &-item {
    @include column-flexbox;
    margin-right: 20px;

    &:first-child {
      margin-left: 16px;
    }

    &:last-child {
      padding-right: 16px;
    }
  }

  &-time {
    font-size: 13px;
  }

  &-temp {
    &:after {
      content: "˚";
    }
  }

  &-icon {
    @include flexbox;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background-image: url("@/assets/icons/icon-weather.png");
    background-size: 164px 128.34px;
    background-repeat: no-repeat;

    &.clear {
      background-position: -0.5px 0;
    }

    &.clear-night {
      background-position: -33px 0;
    }

    &.cloudy {
      background-position: -99.1px 0;
    }

    &.cloudy-night {
      background-position: -131.6px 0;
    }

    &.blur {
      background-position: -66px 0;
    }

    &.rainy {
      background-position: -0.5px -32px;
    }

    &.snowy {
      background-position: -66px -32px;
    }
  }
}
