.summary {
  margin-bottom: 24px;

  &-list {
    @include flexbox;
    gap: 16px;
  }

  &-item {
    @include column-flexbox;
    width: 48px;
  }

  dt {
    @include column-flexbox;
    font-size: 13px;
    opacity: 0.75;

    i {
      margin: 4px 0;
      font-size: 32px;
      overflow: hidden;
      opacity: 1;
    }
  }

  @include responsive(D) {
    margin-bottom: 36px;

    &-list {
      gap: 24px;
    }

    &-item {
      width: 64px;
    }

    dt {
      font-size: 16px;

      i {
        margin: 8px 0;
        font-size: 40px;
      }
    }

    dd {
      font-size: 18px;
    }
  }
}
