.summary {
  margin-bottom: 24px;

  &-list {
    @include flexbox;
    gap: 16px;
  }

  &-item {
    @include column-flexbox;
    width: 48px;
  }

  dt {
    @include column-flexbox;
    font-size: 13px;
    opacity: 0.75;

    i {
      margin: 4px 0;
      font-size: 32px;
      overflow: hidden;
      opacity: 1;
    }
  }
}
