$clear-01: #4facfe;
$clear-02: #f5e07f;
$clear-night: #083359;

$rainy-01: #7c8ea6;
$rainy-02: #42546a;
$rainy-03: #b3bfd0;

$blur-01: #b8ccd9;
$blur-02: #3d4f5a;
$blur-03: #8da0ac;

$snowy-01: #e9eff2;
$snowy-02: #54595c;
$snowy-03: #b5babd;
